[submodule "neon-evm"]
	path = neon-evm
	url = https://github.com/neonlabsorg/neon-evm.git
[submodule "proxy-model.py"]
	path = proxy-model.py
	url = https://github.com/neonlabsorg/proxy-model.py.git
  
[submodule "solana"]
	path = solana
	url = https://github.com/neonlabsorg/solana.git
