[submodule "neon-evm"]
	path = neon-evm
	url = https://github.com/neonlabsorg/neon-evm.git
[submodule "proxy-model.py"]
	path = proxy-model.py
	url = https://github.com/neonlabsorg/proxy-model.py.git
  
[submodule "solana"]
	path = solana
	url = https://github.com/neonlabsorg/solana.git
[submodule "tracer-api"]
	path = tracer-api
	url = https://github.com/neonlabsorg/tracer-api.git
[submodule "tracing-api-tests"]
	path = tracing-api-tests
	url = https://github.com/neonlabsorg/tracing-api-tests
